<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage CI <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Order Componets</a></li>
                <li><a href="#">Edit CI</a></li>
                <li><a href="#">Delete CI</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
   <div class="col-xs-12">
       details!
   </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Components!
    </div>
 </div>
 
